@import "tailwindcss";

@theme {
  --color-off-white: #fcfbf8;
  --color-charcoal: #222222;
  --color-yuzu: #ffd700;
  --color-blueberry: #8972c4;
  --color-grapefruit: #ff7f50;

  --color-background: var(--color-off-white);
  --color-foreground: var(--color-charcoal);

  --font-sans: var(--font-inter);
  --font-display: var(--font-outfit);
}

:root {
  --background: var(--color-off-white);
  --foreground: var(--color-charcoal);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-charcoal);
  color: var(--color-off-white);
}

.glass {
  background: rgba(249, 249, 250, 0.7);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(34, 34, 34, 0.05);
}

/* Hide scrollbar for cleanly designed carousels */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}